# Git関連
.git
.gitignore

# Python関連
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

# Django関連
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Node.js関連
node_modules
npm-debug.log*

# OS関連
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Docker関連
Dockerfile
.dockerignore

# 開発用ファイル
README.md
*.md